/* ########
landing page style
 ########*/
.landing-page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 10%;
    height: 100px;
    padding: 0px 24px;
    animation: fadeIn 1s ease-out;
    z-index: 50;
}

.landing-page-header>.header-cta-btn>.btn-primary {
    display: none;
}

/* 
### hero section ####
*/
main {
    flex-basis: 90%;
    animation: fadeIn 1s ease-out;
    position: relative;
}

main>section.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    padding: 0px 24px;
}

main>section.hero-section>div.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main>section.hero-section>div.container>div:first-child {
    display: flex;
    flex-direction: column;
    gap: 34px;
}

main>section.hero-section>div.container>.hero-section-col {
    justify-content: center;
    text-align: center;
}

main>section.hero-section>div.container>.hero-section-col .keypoints-and-btn-cta {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.keypoints-and-btn-cta ul li .li-line {
    display: none;
}

.hero-section-col .keypoints-and-btn-cta ul li {
    margin-bottom: 20px;
}

main>section.hero-section>div.container>div:first-child ul li>img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    padding: 10px;
}

div.container>div.hero-section-col:last-child {
    max-height: 100%;
    display: flex;
    justify-content: flex-end !important;
}

.hero-section-col>.hero-section-illustration {
    display: none;
    object-fit: fill;
    max-width: 100%;
    height: auto;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: -30%;
    left: -120px;
    width: 300px;
    height: 300px;
    background: rgba(30, 136, 229, 0.6);
    /* Blue-ish color */
    filter: blur(80px);
    z-index: 0;
    opacity: 0.7;
}

/* Right Blur Element */
.hero-section::after {
    content: '';
    position: absolute;
    bottom: -25%;
    right: -100px;
    width: 350px;
    height: 350px;
    background: rgba(255, 82, 82, 0.5);
    filter: blur(100px);
    z-index: 0;
    opacity: 0.7;
}

.hidden {
    display: none;
}

.modal-auth-overlay {
    z-index: 999;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-auth-overlay.fadeIn {
    animation: fadeIn 0.3s ease-in-out 0s 1 normal forwards;
}

.auth-form {
    z-index: 1000;
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 20px;
    background-color: #000000;
    padding: 0px 24px;
}

.auth-form.fadeIn {
    animation: fadeIn 0.3s ease-in-out 0s 1 normal forwards;
}

.modal-header {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 40px 0px;
}

.fade-out-left {
    animation: fadeOutLeft 0.3s forwards;
}

.fade-in-right {
    animation: fadeInRight 0.3s forwards;
}

.modal-header .closeBtn {
    position: absolute;
    top: 0%;
    right: 0%;
    padding-top: 10px;
    cursor: pointer;
    COLOR: #2D2D2D;
}

.modal-header .closeBtn:hover {
    color: #DBDBDB;
}

.auth-form form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.auth-form form input {
    max-width: 100%;
    padding: 20px 10px;
    border-radius: 15px;
    background-color: #CBCBD4;
    border: none;
}

form input:focus {
    outline: none;
    border: none;
    outline: #ffffff 1px solid;
}

form label {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.remember-and-forgotpw {
    display: flex;
    justify-content: space-between;
}

label.remember-me-label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#forgotpw {
    background-color: transparent;
    border: none;
    color: #DBDBDB;
    text-decoration: underline;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 800;
    cursor: pointer;
}

.auth-readsy-logo {
    max-width: 200px;
    margin: 0 auto;
}

.alternative-auth-methods {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.alternative-auth-methods p:first-of-type {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #DBDBDB !important;
}

.alternative-auth-methods p.alternative-meth-divider::before,
.alternative-auth-methods p.alternative-meth-divider::after {
    content: '';
    height: 1px;
    background-color: #DBDBDB;
    flex-grow: 1;
}

.alternative-auth-methods p:first-of-type::before {
    margin-right: 10px;
}

.alternative-auth-methods p:first-of-type::after {
    margin-left: 10px;
}


.alternative-auth-way {
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 10px;
    max-width: 100%;
    border: 1px solid #CBCBD4;
    border-radius: 30px;
    cursor: pointer;
}

.alternative-auth-way p {
    width: 100%;
    text-align: center;
}

.alternative-auth-way img {
    width: 24px;
    height: 24px;
}

.modal-sign-in-link,
.modal-sign-up-link {
    font-weight: 700;
    text-decoration: none;
    color: #DBDBDB;
    background-color: transparent;
    border: none;
}

.modal-sign-in-link:hover,
.modal-sign-up-link:hover {
    text-decoration: underline;
    cursor: pointer;
}



/* ########################################
   DASHBOARD STYLING
   ########################################
*/
.container {
    flex-basis: 100%;
    height: 100%;
}

.main-container {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.dashboard-main {
    height: 100%;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    gap: 15px;
}

.dashboard-zero-files {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.import-file-modal-overlay {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
}

.import-file-modal-container {
    z-index: 1001;
    background-color: #2D2D2D;
    position: absolute;
    bottom: 0%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    left: 0%;
    width: 100%;
    animation: moveInFromBottom 0.3s ease-in-out;
}

.import-file-modal-container {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.moveOutBottom {
    transform: translateY(100%);
    opacity: 0;
}

.fadeOut {
    opacity: 0;
}

.import-file-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dashed #909090;
    padding: 40px;
    margin: 40px;
    gap: 7px;
    border-radius: 8px;
}

.btn-import-file {
    margin-top: 14px;
    padding: 1em 2em;
    background-color: #909090 !important;
    border: none;
    border-radius: 15px;
}

.search-and-import {
    display: flex;
    justify-content: space-between;
}

.search-box-container {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 350px;
}

.search-box {
    background-color: #2d2d2d;
    color: #909090;
    border: none;
    padding: 15px 15px 15px 50px;
    border-radius: 40px;
    width: 100%;
    font-size: 16px;
}

.search-box-icon {
    position: absolute;
    left: 15px;
    pointer-events: none;
}

.import.btn-primary.rounded {
    display: flex;
    justify-content: center;
    padding: 15px;
    align-items: center;
    border-radius: 50%;
    color: #ffffff;
}

/* dashboard files/documents grid */
.dashboard-all-uploaded-files {
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-gap: 10px;
    max-height: 100vh;
    overflow-y: auto;
    margin-top: 30px;
}

.book {
    text-align: center;
    border: 1px solid #2d2d2d;
    padding: 15px;
    gap: 10px;
    border-radius: 40px;
    display: flex;
}

.book svg {
    width: 2.5em;
    height: 2.5em;
}

.book:hover {
    background-color: #2d2d2d;
    cursor: pointer;
}

.file-title-and-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.file-info {
    display: flex;
    justify-content: center;
    gap: 15px;
}

/* MENU COMPONENT */
.dashboard-menu {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    overflow-x: hidden;
    overflow-y: auto;
}

.dashboard-menu-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.toggleMenu {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.toggleBtn {
    align-self: flex-end;
    width: fit-content;
    background-color: transparent;
    border: none;
    color: #929090;
    margin: 24px 24px;
    padding: 2px 6px;
    border-radius: 6px;
}

.toggleBtn:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #2D2D2D;
}

.dashboard-menu-container img {

    height: auto;
    align-self: center;
    padding-bottom: 40px;
}

.navigation-menu {
    margin-bottom: auto;
    border-top: 1px solid #2D2D2D;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;

}

.nav-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.nav-container button {
    display: flex;
    align-items: center;
    gap: 12px;
}

.user-avatar-and-name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-top: 1px solid #2D2D2D;
    padding: 40px 24px;
}

/* ########################################
   NOTES STYLING
   ########################################
*/
.all-notes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    gap: 15px;
    overflow-y: auto;
}

.note-span-two {
    grid-column: span 2;
}

.note-card {
    min-width: 150px;
    max-width: 200px;
    padding: 25px 10px 50px 10px;
    background-color: #C3FF45;
    display: flex;
    flex-direction: column;
    gap: 14px;
    cursor: pointer;
}

.note-card p {
    color: #000000 !important;
}

.green {
    background-color: #C3FF45;
    border-radius: 40px;
    border-top-left-radius: 0px;
}

.blue {
    background-color: #ADECFF;
    border-radius: 40px;
    border-bottom-right-radius: 0px;
}

.orange {
    background-color: #FFBB3D;
    border-radius: 40px;
    border-top-left-radius: 0px;
}

.purple {
    background-color: #CCB2FB;
    border-radius: 40px;
    border-bottom-right-radius: 0px;
}

.cream {
    background-color: #F5EBC7;
}


/* ########## note styling ##### */
.note-container {
    background-color: #F5EBC7;
    min-height: 100%;
    max-width: 100%;
    padding: 0px 20px 0px 20px;
}

.note-header {
    display: flex;
    align-items: center;
}

.note-title {
    font-size: 1.5em;
    border: none;
    background-color: transparent;
    outline: none;
}

.note-wrapper {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.note-header {
    display: flex;
    gap: 32px;
}

.note-container h1,
p {
    color: #000000;
}

.btnBack {
    background-color: #DDD4B3;
    color: #000000;
    border-radius: 50%;
    border: none;
    padding: 10px;
}

.btnBack:hover {
    cursor: pointer;
}
.note-editor {
    text-align: left;
    outline: none;
    position: relative;
}
.note-toolbar {
    position: absolute;
    z-index: 50;
    background-color: #2d2d2d;
    display: flex;
    flex-wrap: nowrap;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}
.note-toolbar button {
    border: none;
    background-color: transparent;
    color: #909090;
    cursor: pointer;
    pointer-events: fill;
    padding: 5px;
}
.note-toolbar button.active {
    color: yellow;
}



/* ##### PROFILE COMPONENT */
.user-info-card {
    display: flex;
    flex-direction: column;
    justify-content: column;
    gap: 40px;
    align-items: center;
    max-width: 100%;
    border: 1px solid #2d2d2d;
    border-radius: 15px;
    padding: 60px 36px;
    max-width: 600px;
}

.user-info-col-1 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 15px;
    gap: 40px;
    min-width: 100%;
}

.user-avatar {
    border-radius: 15px;
    border: 1px solid #2d2d2d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 10px;
    flex-basis: 50%;
    padding: 30px 0px;
}

.user-avatar svg {
    padding: 10px;
    border: 1px solid #2d2d2d;
    border-radius: 50%;
    color: #909090;
    background-color: #2d2d2d;
}

.user-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18px;
    border: 1px solid #2d2d2d;
    border-radius: 15px;
    padding: 26px 13px;
    flex-basis: 50%;
}

.user-information span {
    color: #909090;
    display: flex;
    align-items: center;
    gap: 8px;
}

.user-information span p {
    white-space: nowrap;
}

.btnLogOut {
    min-width: 100%;
    background-color: transparent;
    color: #CF2525;
    border: 1px solid #2d2d2d;
    padding: 15px 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
}

.btnLogOut:hover {
    background-color: #2d2d2d;
}

/* PDF viewer style */
.pdf-viewer {}

.highlight {
    background-color: yellow;
    opacity: 0.5;
}

.pdf-pages-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth;
}

.pdf-loader {
    width: fit-content;
    position: relative;
    margin-bottom: 20px;
}

.textLayer {
    left: 0 !important;
}

.btnJumpToIndex {
    background-color: red;
    color: #ffffff;
}

/* ### READSY READING PARTNER ### */
.readsy-gpt {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 12px;
    border-left: 1px solid #2d2d2d;
    transform: translateX(0%);
    transition: transform 0.3s ease-in;
}

.toggleReadsy {
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
}

.readsy-conversation-container {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
}

.readsy-conversation {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 40px;
    min-width: 100%;
    min-height: 100%;
}

.readsy-avatar-and-name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding-bottom: 40px;
}

.readsy-avatar-and-name img {
    padding: 0px 0px;
    background-color: #4CD6FF;
    border-radius: 50%;
}

.toggleBtn.readsy {
    align-self: flex-start;
    transform: rotate(180deg);
    margin-top: 12px;
}

.readsy-input-box-container {
    position: relative;
    display: flex;
    align-items: center;
    min-width: 100%;
}

.readsy-message {
    background-color: #2d2d2d;
    padding: 10px;
    width: fit-content;
    border-radius: 15px;
    max-width: 70%;
    height: auto;
    margin-left: 15px;
    color: #ffffff;
}


.user-message-to-readsy {
    background-color: #2d2d2d;
    padding: 10px;
    width: fit-content;
    border-radius: 15px;
    align-self: flex-end;
    margin-right: 15px;
    color: #ffffff;
    max-width: 70%;
}

.user-message-to-readsy *,
.readsy-message * {
    color: #ffffff;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
    margin-bottom: 8px;
}

.readsy-message ul,
.readsy-message ol {
    padding-left: 0.5em;
    /* Adjust as needed */
    margin: 0;
    list-style-position: inside;
}



.readsy-input-box {
    background-color: #2d2d2d;
    color: #909090;
    border: none;
    padding: 15px 45px 15px 15px;
    border-radius: 40px;
    font-size: 16px;
    min-width: 100%;
}

.readsy-input-box-icon {
    position: absolute;
    right: 15px;
    color: #909090;
    cursor: pointer;
}


/* animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeInFromRight {
    from {
        opacity: 0;
        transform: translateX(50%);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes fadeInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-50%);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes fadeOutLeft {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(-100%);
    }
}


@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInFromBottom {
    from {
        transform: translateY(50%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes moveOutBottom {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(50%);
    }
}

/* LARGER SCREEN DEVICES */
@media screen and (min-width: 450px) {
    .dashboard-all-uploaded-files {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    .book {
        flex-direction: column;
        max-width: 100px;
        border-radius: 15px;
        align-items: center;
    }

    .file-title-and-info {
        align-items: center;
    }

    .file-info {
        justify-content: space-between;
        align-items: space-between;
    }

}

@media screen and (min-width: 768px) {

    html,
    body {
        overflow: hidden;
    }

    .landing-page-header {
        justify-content: space-between;
        padding: 0px 24px;
    }

    .landing-page-header>.header-cta-btn>.btn-primary {
        display: block;
    }

    main>section.hero-section>div.container>.hero-section-col {
        align-items: center;
    }

    .auth-form {
        justify-content: center;
        height: auto;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 50px;
        border: 1px solid #2D2D2D;
        border-radius: 15px;
        max-width: 500px;
    }

    .modal-header .closeBtn {
        right: -40px;
    }

    /* ### dashboard */

    .container {
        padding: 0px;
    }

    .main-container {
        margin-top: 67px;
    }

    .dashboard-menu {
        flex-basis: 25%;
        border-right: 1px solid #2D2D2D;
        position: sticky;
        height: 100%;
        left: 0;
        top: 0;
    }

    .container aside {
        flex-basis: 25%;
    }

    .dashboard-menu-container img {
        align-self: flex-start;
        padding-left: 10px;
    }

    .toggleBtn {
        margin: 12px;
    }

    .navigation-menu {
        justify-content: flex-start;
    }

    .nav-container {
        margin-left: 24px;
    }

    .nav-container button svg {
        width: 1.5em;
        height: 1.5em;
    }

    .user-avatar-and-name {
        justify-content: flex-start;
        padding-left: 24px;
    }

    .container {
        display: flex;
        height: 100%;
    }

    .import-file-modal-overlay {
        align-items: center;
        justify-content: center;
    }

    .import-file-modal-container {
        position: static;
        width: fit-content;
        height: fit-content;
        border-radius: 15px;
        animation: fadeIn 0.3s ease-in-out;
    }

    .import-file-modal {
        padding: 40px 100px;
        margin: 80px 100px;
    }

    /* note workplace style */

    .note-wrapper {
        padding-top: 56px;
    }

    .note-editor-toolbar-custom {
        min-width: auto;
        max-width: 50%;
        left: 50%;
        transform: translateX(-50%);
    }

    /* profile styling */
    .user-info-col-1 {
        flex-direction: row;
    }

    .user-avatar {
        padding: 0px;
    }
}

@media screen and (min-width: 1024px) {
    .landing-page-header {
        padding: 0px 56px;
    }

    main>section.hero-section {
        padding: 0px 56px;
    }

    .hero-section-col>.hero-section-illustration {
        display: flex;
    }

    main>section.hero-section>div.container {
        flex-direction: row;
    }

    main>section.hero-section>div.container>.hero-section-col {
        text-align: start;
        align-items: flex-start;
        flex-basis: 50%;
    }

    .hero-section-col .keypoints-and-btn-cta ul li {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: flex-start;
    }

    .keypoints-and-btn-cta ul li .li-line {
        display: inline-block;
    }

    .hero-section-col .keypoints-and-btn-cta .btn-primary {
        align-self: flex-start;
        min-width: auto;
        padding: 1em 4em;
    }

    main>section.hero-section>div.container>div:first-child ul li>img {
        padding: 0px;
    }

    .hero-section-col.left {
        animation: fadeInFromLeft ease-out 1s;
    }

    .hero-section-col.right {
        animation: fadeInFromRight ease-out 1s;
    }

    .landing-page-header:first-child h3 {
        animation: fadeInFromLeft ease-out 1.1s;
    }

    .landing-page-header .header-cta-btn .btn-primary {
        animation: fadeInFromRight ease-out 1.1s;
    }

    /* DASHBOARD DESKTOP STYLING */
    .dashboard-menu-container img {
        padding-left: 40px;
    }

    .nav-container {
        margin-left: 56px;
    }

    .user-avatar-and-name {
        padding-left: 56px;
    }

    .dashboard-all-uploaded-files {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .book {
        max-width: 150px;
    }

    .book svg {
        width: 3.75em;
        height: 3.75em;
    }

    /* profile desktop styling */
    .user-info-card {
        min-width: 600px;
        align-self: center;
    }

}